@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-outfit: var(--font-outfit);

  --color-brand-50: #f0f9ff;
  --color-brand-100: #e0f2fe;
  --color-brand-500: #0ea5e9;
  --color-brand-600: #0284c7;
  --color-brand-900: #0c4a6e;
  
  --color-background: #000000;
  --color-foreground: #ffffff;
  --color-card: #0a0a0a;
  --color-card-foreground: #ffffff;
  --color-popover: #0a0a0a;
  --color-popover-foreground: #ffffff;
  --color-primary: #ffffff;
  --color-primary-foreground: #000000;
  --color-secondary: #27272a;
  --color-secondary-foreground: #ffffff;
  --color-muted: #27272a;
  --color-muted-foreground: #a1a1aa;
  --color-accent: #27272a;
  --color-accent-foreground: #ffffff;
  --color-destructive: #7f1d1d;
  --color-destructive-foreground: #ffffff;
  --color-border: #27272a;
  --color-input: #27272a;
  --color-ring: #d4d4d8;
  
  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);
}

@layer base {
  * {
    border-color: var(--color-border);
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply antialiased font-sans;
  }
}
